.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub/
.pub-cache/
build/
coverage/
doc/api/

pubspec.lock

example/.dart_tool/
example/.flutter-plugins
example/.flutter-plugins-dependencies
example/.packages
example/.pub/
example/build/
example/.metadata

example/pubspec.lock

example/android/.gradle/
example/android/.idea/
example/android/app/build/
example/android/app/src/main/java/io/flutter/plugins/GeneratedPluginRegistrant.java
example/ios/Flutter/Generated.xcconfig
example/ios/Flutter/flutter_export_environment.sh
example/ios/Flutter/GeneratedPluginRegistrant.h
example/ios/Flutter/GeneratedPluginRegistrant.m
example/ios/Runner.xcodeproj/project.xcworkspace/xcshareddata/
example/ios/Runner.xcodeproj/xcshareddata/
example/ios/Runner.xcworkspace/xcshareddata/
example/macos/Flutter/GeneratedPluginRegistrant.swift
example/macos/Flutter/ephemeral/
example/windows/flutter/generated_plugin_registrant.cc
example/windows/flutter/generated_plugin_registrant.h
example/windows/flutter/generated_plugins.cmake
example/linux/flutter/generated_plugin_registrant.cc
example/linux/flutter/generated_plugin_registrant.h
example/linux/flutter/generated_plugins.cmake

.DS_Store
Thumbs.db
.idea/
*.iml
*.ipr
*.iws
.vscode/
.atom/
*.class
*.log
*.pyc
*.swp
.buildlog/
.history/
.svn/
migrate_working_dir/

**/.idea/
**/.dart_tool/
**/build/
**/windows/
**/macos/
**/linux/
**/ios/
**/android/
